#SignIn {
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

#SignIn, #ProfileBox {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: pink;
}

#ProfileBox {
    visibility: hidden;
}

#SignOut {
    height: 50px;
    width: 70px;

}